.alpha-pagination .item-list > ul {
  display: flex;
  flex-wrap: wrap;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 12px; */
  justify-content: center;
  line-height: 1;
  list-style: none;
  margin: 1em 0;
  overflow: hidden;
  padding: 0;
}

.alpha-pagination .item-list > ul li {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.alpha-pagination .item-list > ul li a,
.alpha-pagination .item-list > ul li span {
  align-items: center;
  border-radius: 3px;
  color: #0071B3;
  display: inline-flex;
  justify-content: center;
  min-height: 1em;
  min-width: 1em;
  padding: 5px;
  transition: 200ms background ease-in-out, 200ms color ease-in-out;
}

.alpha-pagination .item-list > ul li a:active,
.alpha-pagination .item-list > ul li a:focus,
.alpha-pagination .item-list > ul li a:hover {
  background: #ddd;
  text-decoration: none;
}

.alpha-pagination .item-list > ul li.active a,
.alpha-pagination .item-list > ul li.active span {
  background-color: #0071B3;
  color: #fff;
  cursor: default;
  font-weight: 700;
}

.alpha-pagination .item-list > ul li.inactive a,
.alpha-pagination .item-list > ul li.inactive span {
  cursor: not-allowed;
  color: #ccc;
}

.alpha-pagination .item-list > ul li.numeric-divider {
  flex-basis: 100%;
}
.alpha-pagination .item-list > ul li.numeric-divider span {
  display: none;
}
